# Proyecto Mineria de Datos: Credit Scores

### Parte 1: Limpieza de datos

In [102]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib.pyplot as plt
import os

## Datos

In [103]:
os.chdir('/home/juanpalms/Desktop/Mineria de Datos/Proyecto')

In [104]:
os.getcwd()

'/home/juanpalms/Desktop/Mineria de Datos/Proyecto'

In [105]:
datos_train=pd.read_csv('Data/train.csv')

/tmp/ipykernel_8324/2775519410.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  datos_train=pd.read_csv('Data/train.csv')

In [106]:
datos_test=pd.read_csv('Data/test.csv')

In [107]:
datos_train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [108]:
datos_train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [109]:
columns_headers=list(datos_train.columns.values)
print(columns_headers)

['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'Credit_Score']

In [110]:
#Memory usage before dtype changes= 21.4 MB

datos_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

### Variables con typos

In [111]:
datos_train['Age'] = datos_train['Age'].str.replace('_', '').astype('int64')
datos_train['Annual_Income'] = datos_train['Annual_Income'].str.replace('_', '').astype('float64')

In [112]:
#tenemos que arreglar este error de alguna forma
datos_train['Age'].max() #hay una edad que esta marcada como 8592

8698

In [ ]:
#Traducir a oython

In [98]:
datos_train['Month'].unique()

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August'], dtype=object)

In [97]:
#Este error pasa todos los meses?
print(datos_train['Age'][datos_train['Month']=='January'].max())
print(datos_train['Age'][datos_train['Month']=='February'].max())
print(datos_train['Age'][datos_train['Month']=='March'].max())
print(datos_train['Age'][datos_train['Month']=='April'].max())
print(datos_train['Age'][datos_train['Month']=='May'].max())
print(datos_train['Age'][datos_train['Month']=='June'].max())
print(datos_train['Age'][datos_train['Month']=='July'].max())
print(datos_train['Age'][datos_train['Month']=='August'].max())
#Vemos que cada mes hay un problema con el maximo de edad

8592
8592
8639
8697
8698
8682
8666
8678

In [100]:
datos_train[datos_train['Age']>=100]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
56,0x1656,CUS_0x5407,January,Annk,7580,500-92-6408,Media_Manager,34081.38,NaN,8,...,Standard,1704.18,24.448063,NaN,NM,70.478333,162.4410091967751,Low_spent_Large_value_payments,298.19215813115227,Poor
122,0x16b8,CUS_0x33d2,March,Chalmersa,181,965-46-2491,Scientist,31993.78,2942.0,6,...,Standard,818.22,27.380109,17 Years and 0 Months,Yes,45.141298,264.25708850339777,Low_spent_Small_value_payments,274.8164466052998,Standard
219,0x1749,CUS_0x3edc,April,Williamso,995,663-16-3845,Accountant,43070.24,3622.0,3,...,Standard,1233.1,24.331772,19 Years and 5 Months,Yes,30.576085,74.92037487328841,High_spent_Medium_value_payments,506.7222069702167,Standard
243,0x176d,CUS_0x9a71,April,NaN,5079,889-07-2357,Scientist,20186.02,1684.0,1,...,Good,413.32,22.743582,18 Years and 6 Months,No,29.534584,104.72383354456407,High_spent_Small_value_payments,294.1584160682732,Good
288,0x17b2,CUS_0x4080,January,ra Alperx,6409,995-37-8920,Mechanic,29469.98,2228.0,1231,...,_,3421.66,24.639658,NaN,Yes,69.685459,59.825596124675045,!@9#%8,363.27211196971183,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99877,0x25f37,CUS_0x3855,June,Xolai,6476,963-55-7106,Scientist,118677.54,9960.0,4,...,Good,995.47,38.556181,30 Years and 4 Months,No,237.106366,231.2765296325449,High_spent_Large_value_payments,767.996604,Good
99908,0x25f66,CUS_0xa053,May,t Astridn,4808,094-81-5856,Writer,87695.34,7336.0,2,...,Good,361.68,28.147193,19 Years and 5 Months,No,65671.000000,168.79878418602146,High_spent_Large_value_payments,804.995716,Standard
99913,0x25f6f,CUS_0x1619,February,Phil Wahbao,2263,683-59-7399,Media_Manager,20059.98,1524.0,8,...,Good,909.01,25.982154,16 Years and 4 Months,No,45.076827,74.71358019803843,High_spent_Small_value_payments,292.576093,Poor
99950,0x25fa4,CUS_0x51b3,July,Ryana,1342,837-85-9800,Media_Manager,59146.36,4908.0,3,...,_,418.03,38.199635,20 Years and 7 Months,No,26.778419,502.3763201756033,Low_spent_Small_value_payments,251.731594,Standard
99972,0x25fc6,CUS_0xf16,May,Maria Sheahanb,1753,868-70-2218,Media_Manager,16680.35,1528.0,1,...,Good,897.16,37.788217,21 Years and 5 Months,No,41.113561,64.54974829039807,Low_spent_Large_value_payments,317.139608,Standard

In [90]:
datos_train['Age'].quantile([.2,.4,.5,.6,.8,.9,.95])

0.20    22.0
0.40    30.0
0.50    33.0
0.60    37.0
0.80    44.0
0.90    50.0
0.95    53.0
Name: Age, dtype: float64

### Cambio de formato para cada columna

### Cambiando todos los que esten guardados como formato objeto

Es mejor tenerlo en categorias o numericos: usan menos memoria y tambien

In [48]:
#En esta seccion cambiamos el formato de las columnas para que se ocupe menos memoria en cada una y podamos
#agilizar los procesos, ademas nos permite usar metodos para str o categorical dependiendo de la columna
#800,000 bytes antes del cambio
#En esta parte nos podemos dar cuenta si hay algunos datos numericos con errores en particular, los errores pueden
#Estar en las columnas que estan guardadas como objetos, pero en realidad deberian estar guardadas como int o float
datos_train['ID'].nbytes

1200000

In [37]:
#cambiamos a categorical
#120,000 bytes despues del cambio
datos_train['ID']=datos_train['ID'].astype('category')
datos_train['ID'].nbytes

1200000

In [39]:
#Cambiamos a categorical Custumer_ID
#800,000 bytes antes del cambio y 300,000 bytes despues del cambio
print(datos_train['Customer_ID'].nbytes)
datos_train['Customer_ID']=datos_train['Customer_ID'].astype('category')
print(datos_train['Customer_ID'].nbytes)

300000
300000

In [40]:
#Cambiamos a categorical Month
#800,000 bytes antes del cambio y 100,000 bytes despues del cambio
print(datos_train['Month'].nbytes)
datos_train['Month']=datos_train['Month'].astype('category')
print(datos_train['Month'].nbytes)

800000
100064

In [45]:
#Cambiamos a categorical Name
#800,000 bytes antes del cambio y 281,000 bytes despues del cambio
print(datos_train['Name'].nbytes)
datos_train['Name']=datos_train['Name'].astype('category')
print(datos_train['Name'].nbytes)

800000
281112

In [46]:
#Cambiamos a categorical SSN
#800,000 bytes antes del cambio y 300,000 bytes despues del cambio
print(datos_train['SSN'].nbytes)
datos_train['SSN']=datos_train['SSN'].astype('category')
print(datos_train['SSN'].nbytes)

800000
300008

In [47]:
#Cambiamos a categorical Occupation
#800,000 bytes antes del cambio y 100,000 bytes despues del cambio
print(datos_train['Occupation'].nbytes)
datos_train['Occupation']=datos_train['Occupation'].astype('category')
print(datos_train['Occupation'].nbytes)

800000
100128

In [84]:
#Cambiamos a categorical Monthly_Inhand_Salary
#800,000 bytes antes del cambio y 200,000 bytes despues del cambio
print(datos_train['Monthly_Inhand_Salary'].nbytes)
datos_train['Monthly_Inhand_Salary']=datos_train['Monthly_Inhand_Salary'].astype('float16')
print(datos_train['Monthly_Inhand_Salary'].nbytes)

800000
200000

In [84]:
#Cambiamos a categorical Monthly_Inhand_Salary
#800,000 bytes antes del cambio y 200,000 bytes despues del cambio
print(datos_train['Monthly_Inhand_Salary'].nbytes)
datos_train['Monthly_Inhand_Salary']=datos_train['Monthly_Inhand_Salary'].astype('float16')
print(datos_train['Monthly_Inhand_Salary'].nbytes)

800000
200000

In [40]:
#Cambiamos a categorical Month
#800,000 bytes antes del cambio y 100,000 bytes despues del cambio
print(datos_train['Month'].nbytes)
datos_train['Month']=datos_train['Month'].astype('category')
print(datos_train['Month'].nbytes)

800000
100064

In [40]:
#Cambiamos a categorical Month
#800,000 bytes antes del cambio y 100,000 bytes despues del cambio
print(datos_train['Month'].nbytes)
datos_train['Month']=datos_train['Month'].astype('category')
print(datos_train['Month'].nbytes)

800000
100064

In [ ]:
# Resolver problema de 'Age' (hay algunas edades que tienen un _ despues del numero)

### Exploracion inicial de un solo mes de los datos para generar el EDA

In [9]:
#Filtro para meses
filtro_enero=datos_train['Month']=='January'

In [10]:
Jan_tr=datos_train[filtro_enero]

In [11]:
Jan_tr.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,10639.000000,12500.000000,12500.000000,12500.00000,12500.000000,12264.000000,12500.000000,12500.000000
mean,4199.465763,17.275120,21.647680,69.46520,21.051440,24.591650,32.291949,1303.781040
std,3195.283895,118.518214,123.789969,455.95698,14.859994,183.422458,5.084327,8118.261086
min,303.645417,0.000000,1.000000,1.00000,-5.000000,0.000000,20.992914,0.000000
25%,1624.265000,3.000000,4.000000,8.00000,10.000000,2.000000,28.110034,29.128806
50%,3081.902500,6.000000,5.000000,13.00000,18.000000,4.000000,32.297912,66.372879
75%,5973.520833,7.000000,7.000000,20.00000,28.000000,8.000000,36.458660,149.904496
max,15204.633333,1779.000000,1479.000000,5788.00000,67.000000,2592.000000,49.564519,82122.000000

ID                      :Represents a unique identification of an entry
Customer_ID             :Represents a unique identification of a person
Month                   :Represents the month of the year
Name                    :Represents the name of a person
Age                     :Represents the age of the person
SSN                     :Represents the social security number of a person
Occupation              :Represents the occupation of the person
Annual_Income           :Represents the annual income of the person
Monthly_Inhand_Salary   :Represents the monthly base salary of a person
Num_Bank_Accounts       :Represents the number of bank accounts a person holds
Num_Credit_Card         :Represents the number of other credit cards held by a person
Interest_Rate           :Represents the interest rate on credit card
Num_of_Loan             :Represents the number of loans taken from the bank
Type_of_Loan            :Represents the types of loan taken by a person
Delay_from_due_date     :Represents the average number of days delayed from the payment date
Num_of_Delayed_Payment  :Represents the average number of payments delayed by a person
Changed_Credit_Limit    :Represents the percentage change in credit card limit
Num_Credit_Inquiries    :Represents the number of credit card inquiries (An inquiry refers to a request to look at                          your credit file and falls into one of two camps: hard or soft. A credit inquiry occurs                            when you apply for a credit card or loan and permit the issuer or lender to check your                            credit. Some inquiries have no effect on your credit, but others can lower your credit                             score.)
Credit_Mix              :Represents the classification of the mix of credits
Outstanding_Debt        :Represents the remaining debt to be paid (in USD)
Credit_Utilization_Ratio:Represents the utilization ratio of credit card
Credit_History_Age      :Represents the age of credit history of the person
Payment_of_Min_Amount   :Represents whether only the minimum amount was paid by the person
Total_EMI_per_month     :Represents the monthly EMI payments (in USD)
Amount_invested_monthly :Represents the monthly amount invested by the customer (in USD)
Payment_Behaviour       :Represents the payment behavior of the customer (in USD)
Monthly_Balance         :Represents the monthly balance amount of the customer (in USD)
Credit_Score            :Represents the bracket of credit score (Poor, Standard, Good)

Profiling de los datos tomando solo ciertas caracteristicas basicas iniciales

In [12]:
#columnas de descripcion general fast EDA
columnas_FEDA=['Month', 'Age', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score']

In [13]:
Jan_tr_pr=Jan_tr[columnas_FEDA]

In [14]:
profile_jan=pp.ProfileReport(Jan_tr_pr)

In [15]:
profile_jan.to_file('JanuaryProfiling.html')

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Data Engineering

1) lidiar con:
- Num_Credit_Card
- Interest_Rate
- Num_of_Loan
- Type_of_Loan
- Num_Credit_Inquiries


2)

#Por hacer:
1) Rellenar missing values de variables evidentes
1) Separar la columna de Type_of_Loan: pq?- el credito al consumo no es igual a otro tipo de creditos, tener dummies por tipo de creditos y relacionarlo con otras variables es importante para entender el comportamiento de los clientes. Posiblemente la gente que tiene creditos al consumo es mas propensa a defaultear por lo tanto tienen peor score crediticio.